<app-navbar
  #heroNav
  style="position: fixed; z-index: 1"
  scrollColorChange
></app-navbar>
<div class="internship-poster">
  <h1>Game Development Internship</h1>
  <p><strong>Duration:</strong> 3 months, starting March 25</p>
  <p>Focus on developing game assets like guns, barrels, characters, etc.</p>
  <p>
    <strong>Qualifications:</strong> College students who can work in our office
    for a minimum of 4 days a week. Flexible scheduling around college
    commitments.
  </p>
  <p>
    <strong>Opportunity:</strong> Post-internship, candidates may be selected
    for a longer internship with a stipend.
  </p>
  <p>
    <strong>Apply by March 21, 2024:</strong> Contact us via call or WhatsApp at
    93243****.
  </p>
</div>
